sandboxes/sb3/cmake-build-debug
sandboxes/sb3/cmake-build-debug-wsl
sp/poker/server/cmake-build-debug
/docs
sp/poker/client/logs
sp/poker/client/target
sp/poker/server/.idea
sp/poker/client/pocker-client/.idea
sp/poker/client - Copy/.idea
sp/poker/client - Copy/logs
sp/poker/client - Copy
sp/poker/client/pocker-client/.idea
sp/poker/client/pocker-client/logs
sp/poker/server/cmake-build-debug-wsl
sp/poker/server/cmake
cv/.idea
sp/reversi/server/cmake-build-debug
sp/reversi/server/cmake-build-debug-wsl
A21B0074P/server/cmake-build-debug-wsl
sp/reversi/client/composeApp/logs
sp/reversi/server/.idea
